<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGuvA9GHrbj6VJDFccYuEy333wXy-gYHU</string>
	<key>GCM_SENDER_ID</key>
	<string>824520277270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>at.FirebaseGuide</string>
	<key>PROJECT_ID</key>
	<string>fir-guide-74c35</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-guide-74c35.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824520277270:ios:66c0f7b29a28f2e9136437</string>
</dict>
</plist>